html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    background-color: #121212;
}

* {
    box-sizing: border-box;
}


/* typography */

h1, h4, p{
    margin: 0;
}

h3 {
    margin-bottom: 0;
}


/* links */

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #FEC654;
}

.submit {
    padding: 9px;
    width: 20%;
    border-left: none;
    cursor: pointer;
    background-color: #4B4B4B;
    color: #FFF;
    border-radius: 0 6px 6px 0;
}

.input-search,
.submit {
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
    float: left;
    height: 38px;
}

.submit:hover,
.submit:focus {
    background-color: #787878;
}

.add-remove-btn {
    margin-right: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.add-remove-btn:focus,
.add-remove-btn:hover {
    color: #FEC654;
}

/* controls */

header,
.header-text,
main {
    padding: 44px;
}

header {
    position: absolute;
    height: 208px;
    width: 100%;
    background-image: url("/images/omdb.png");
    filter: brightness(40%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
} 

.header-text {
    position: relative;
    display: flex;
    width: 100%;
    height: 208px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header-text h1 {
    font-size: 2.7rem;
    font-weight: 800;
}

.header-text h4 {
    font-weight: 700;
    font-size: 0.875rem;
}

main {
    background-color: #121212;
}

.movie-container {
    display: flex;
    gap: 21px;
    padding: 21px 0;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-img {
    height: 147px;
    min-width: 100px;
}

.movie-img > img {
    width: 100%;
    height: 100%;
}

.movie-heading {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.movie-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.movie-rating {
    font-size: 0.75rem;
    font-weight: 400;
}

.movie-details {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    align-items: baseline;
    gap: 16px;
}

.movie-description {
    font-size: 0.875rem;
    font-weight: 400;
    color: #A5A5A5;
}

.movie-details,
.movie-description {
    margin-top: 8px;
}

.search {
    padding: 0 44px;
    position: relative;
    margin-top: -17px;
    width: 100%;
}

.search-form {
    margin: 0;
    width: 100%;
}

.input-search {
    padding: 9px 13px 9px 40px;
    width: 80%;
    color: #A5A5A5;
    background-color: #2E2E2F;
    border-radius: 6px 0 0 6px;
}

/* startup, empty wishlist and movie not found */
.no-content {
    height: calc(100vh - 208px);
}

.explore-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E2E2F;
}

.explore-container p {
    font-size: 1.125rem;
    font-weight: 700;
}

.no-movies {
    padding: 80px;
    text-align: center;
    color: #787878;
}

.explore-container i {
    font-size: 4.375rem;
}

/* empty watchlist */

.empty-watchlist-text {
    color: #787878;
    margin-bottom: 15px;
    text-align: center;
}

.empty-watchlist {
    display: flex;
    gap: 8px;
}

.empty-watchlist i {
    font-size: 1.125rem;
    color: #FFF;
}

.empty-watchlist p {
    color: #FFF;
    font-size: 0.875rem;
    text-align: center;
}

/* icons */

.fa-star {
    color: #FEC654;
    font-size: 1rem;
}

.fa-magnifying-glass {
    position: absolute;
    color: #D1D5DB;
    font-size: 1.25rem;
    padding: 9px 9px 9px 13px;
}

/* media querries */

@media (max-width: 390px) {
    .header-text h1 {
        font-size: 1.375rem;
    }

    .header-text h4 {
        font-size: 0.625rem;
    } 

    .movie-title {
        font-size: 0.875rem;
        margin-top: 0;
    }
    .movie-details,
    .movie-description {
        font-size: 0.6875rem;
    }

    .movie-details {
        flex-wrap: wrap;
        gap: 8px;
    }

    .submit {
        font-size: 0.75rem;
    }
}

@media (min-width:391px) and (max-width: 500px) {
    .header-text h1 {
        font-size: 1.875rem;
    }

    .header-text h4{
        font-size: 0.75rem;
    }

    .movie-details,
    .movie-description {
        font-size: 0.6875rem;
    }

    .movie-details {
        flex-wrap: wrap;
        gap: 8px;
    }

    .submit {
        font-size: 0.75rem;
    }
}

@media (min-width: 900px) {
    .movie-container,
    .header-text,
    .search {
        max-width: 800px;
        margin: 0 auto;
    }

    .header-text,
    .search {
        padding: 0;
    }

    .search {
        margin-top: -17px
    }

}

